In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn

In [ ]:
sn.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'taxis',
 'tips',
 'titanic']

In [ ]:
df = sn.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
#Assignment (submit by 25th July 2022)

# Use tips file from the available datasets, work only on the feature total_bill

# Visualize boxplot and histogram to comment on the distribution
# Comment on skewness and kurtosis (interpret the values)
# Use both outlier detection methods (IQR Method & Z Method)
# Provide your analysis about the outliers obtained
# Did you observe any difference in the two methods of outliers?
# Find correlation of total_bill and size, comment on the correlation (bivariate analysis)


# Share your responses in the same file as comments (so that it is understandable)

# Download the JN as pdf and share in the below link:

# https://drive.google.com/drive/folders/1-J5AMi4V8GGcdtJnhc-TOm78aK-klFeF?usp=sharing